* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    margin: 5px;
}

.tnw-gif {
  display: none;
}

.nav-container {
    background-color: black;
    height: 30px;
}

.main_container {
    padding-left: 55px;
}

.news a{
    color: white;
}

.up {
    background-color: #f42;
    width: 285px;
    height: 45px;
    color: white;
}

.price {
    background-color: #ffe6b3;
    width: 285px;
    height: 45px;
    padding-bottom: 10px;
}

.services1,
.services2,
.services3,
.services4 {
    background-color: #fff7e6;
    height: 210px;
    width: 99%;
    position: relative;
    bottom: 15px;
}

.seed {
    font-size: 12px;
}

.fund-content,
.ebury,
.MyDermacy,
.farm {
    margin-left: 25px;
}

.fund-header  a {
    text-decoration: none;
}

.list-fun {
    list-style-type: none;

}

.nav_link,
.nav_link1 {
    color: silver;
    text-decoration: none;
    text-decoration-style: none;
    font-size: 15px;
}

.img-fund {
    position: relative;
    bottom: 35px;
    left: 15px;
    z-index: 1;
}

.services1 p,
.services2 p,
.services3 p,
.services4 p {
    margin: 15px;
    padding-top: 10px;
}

.money {
    font-weight: bold;
}

.my_list {
    display: inline;
    padding: 15px;
    position: relative;
    top: 5px;
}

.my_list1 {
    display: inline;
    padding: 15px;
    position: relative;
    bottom: 13px;
    left: 70%;
}

.low-list {
    display: inline;
    margin-left: 5px;
}

.fund-main h3 {
    text-align: center;
}

#search-icon {
    width: 35px;
    height: 35px;
}

.search {
    float: right;
    border-left: solid 1px silver;
}

.low-link {
    color: silver;
    text-decoration: none;
    text-decoration-style: none;
    font-size: 16px;
    padding: 10px;
}

.nav-low {
    border-bottom: solid 1px silver;
    padding-bottom: 10px;
}

.nav-low-list {
    padding: 10px;
}

.low-list a:hover {
    color: black;
}

.my_list a:hover,
.my_list1 a:hover {
    color: white;
}

.affordable_agri {
    width: 130%;
    padding: 55px 0 0 10px ;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
    width: 45%;
}

.affordable {
    width: 65%;
    height: 75%;
    position: relative;
    left: 245px;
    top: 55px;
}

.fund-main {
    display: flex;
}

.story-investmentCard-company-image {
    width: 60px;
    height:60px;
}

.latest-img2,
.latest-img {
    height:150px;
    width: 280px;
}

.latest-news {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.latest-news1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.news_main {
    display: flex;
}

.news_main {
    padding-top: 50px;
}

.reprot {
    color: black;
    font-weight: bold;
}

.reprot1 {
    color: lightslategrey;
    font-size: 15px;
}

.latest-link {
    color: red;
}

.latest-link:hover {
    color: black;
}

.rep-link,
.news-link,
.latest-link,
.foo-link {
    text-decoration: none;
}

.latest-main-content {
    padding-top: 230px;
}

.testing {
    position: relative;
    bottom: 65px;
}

.price p {
    padding-left: 85px;
}

.bottom,
.middle,
.apps_gear_tech-main {
    padding-top: 55px;
}

.bottom {
    position: relative;
    bottom: 35px;
}

.fund-header li {
    float: right;
    margin-left: 10px;
    font-size: 19px;
    padding-top: 8px;
    padding-right: 15px;
}

.funding {
    margin-top: 55px;
}

.fund-header {
    margin-bottom: 20px;
}

.machine-img,
.cert-img {
    width: 270px;
    height: 150px;
}

.speed,
.cloud,
.vmware,
.Machine-learning,
.certificate,
.microsoft,
.microsoft,
.vpn {
    flex: 1;
}

.latest-container {
    position: relative;
    bottom: 25px;
}

.see-all {
    position: relative;
    left: 1125px;
    bottom: 20px;
}

.see-link {
    text-decoration: none;
    font-size: 18px;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

.latest-head {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.footer2 {
    background-color: black;
    height: 60px;
    text-align: center;
    padding-top: 35px;
}

.footer1 {
    background-color: #181818;
    height: 120px;
}

.footer2-link {
    color: white;
}

.next-web {
    color: white;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.foo-link {
    display: inline;
    margin: 5px;
}

.smedia {
    display: flex;
}

.social {
    position:relative;
    left: 460px;
}

.links {
    text-align: center;
    position: relative;
    top: 15px;
}

.foo-link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: white;
}

.icon {
    margin: 10px;
    height: 40px;
    width: 40px;
    position: relative;
    top: 15px;
}

.red {
    color: red;
}

.reprot:hover {
    color: red;
}

.icon {
    list-style-type: none;
}

.icon:hover {
    background-color: #181818;
}

.smedia li {
    background-color: #404040;
    border-radius: 1px solid black;
    border-radius: 100%;
    border: 2px solid #787878;
}

.entertainmet {
    position: relative;
    left: 13px;
    top: 10px;
    height:75px;
    width: 75px;
}

.affordable_agri {
    background-image: -webkit-linear-gradient(95deg, rgb(4, 2, 1) 0%, rgba(4, 2, 1, 0.98) 2%, rgba(0, 0, 0, 0.95) 9%, rgba(0, 0, 0, 0.93) 13%, rgba(0, 0, 0, 0.84) 29%, rgba(24, 19, 16, 0.76) 43%, rgba(105, 39, 9, 0.72) 50%, rgba(193, 60, 0, 0.76) 57%, rgba(233, 77, 7, 0.82) 68%, rgba(201, 73, 16, 0.91) 84%, rgba(225, 69, 0, 0.96) 93%, rgba(236, 72, 0, 0.98) 97%, rgb(236, 72, 0) 100%),url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/11/synd7-796x417.jpg");
    height: 420px;
    width: 108%;
    position: relative;
    right: 25px;
    background-repeat: no-repeat;
}

.affordable1 {
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.99) 0%, rgba(12, 10, 9, 0.34) 50%, rgba(23, 19, 18, 0.99) 100%),url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/11/theft-malaysia-bitcoin-tunnel-dig-rill-miners-796x448.jpg");
    height: 200px;
    background-size: cover;
    position: relative;
    bottom: 420px;
}

.affordable2 {
    background-image:-webkit-linear-gradient(top, rgba(0, 0, 0, 0.99) 0%, rgba(12, 10, 9, 0.34) 50%, rgba(23, 19, 18, 0.99) 100%), url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/11/Untitled-design1-796x417.png");
    background-size: cover;
    height: 208px;
    position: relative;
    bottom: 210px;
}

.main-cover {
    display: flex;
    padding-top: 60px;
    justify-content: space-between;
    justify-content: space-between;
    margin-bottom: -150px;
}

.main-content1 {
    flex: 2;
    background-size: cover;
}

.main-content {
    flex: 1.4;
    position: relative;
    left: 40px;
}

.cover-header {
    position: absolute;
    top: 420px;
    left: 10px;
    z-index: 0;
}


.cover-header section {
    list-style: none;
}

.cover-header p {
    display: inline;
}

.cover-title a {
    text-decoration: none;
    font-size: 28px;
}

.noCamels, .camels {
    padding-top: 110px;
    padding-left: 15px;
}

.white {
    color: white;
    position: relative;
    bottom: 35px;
}

.bck-clr {
    z-index: 2;
    opacity: 0.8;
}

.space-apps-gear {
    width: 420px;
    padding: 0 26px;
}

.Netflix-show,
.mymobile,
.my-tech,
.creative-content,
.podium-content,
.insight-img,
.launch-img,
.distract-img {
    position: relative;
}

.most-popular {
    position: absolute;
    bottom: 100px;
    left: 15px;
    z-index: 2;
    color: white;
}

.description {
    position: absolute;
    bottom: 60px;
    left: 15px;
    z-index: 2;
    color: white;
}

.published {
    position: absolute;
    bottom: 30px;
    left: 15px;
    z-index: 2;
    color: white;
}

.latest-gear {
    height: 80px;
    background-color: rgba(260,68,34,.06);
    background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/11/Apple-AR-glasses-headset.jpg");
    background-repeat: no-repeat;
    background-size: 28% 80px;
    background-position: right;
}

.space-apps-gear a {
    text-decoration: none;
}

.speed,
.cloud,
.vmware,
.Machine-learning {
    padding-bottom: 15px;
}

.apps-gear a {
    color: grey;
}

.apps-gear li {
    padding: 13px 0 5px;
    border-bottom: 1px silver solid;
}

.apps-gear a:hover {
    color: black;
}

p,
h3,
h4,
h2,
h1,
a,
h5 {
  font-family: Shentox, sans-serif;
}

.services4 p,
.services3 p,
.services2 p,
.services1 p {
  font-size : 14px;
  color: #505050;
}

.funding a {
  text-decoration: none;
}

.services4 p:hover,
.services3 p:hover,
.services2 p:hover,
.services1 p:hover {
  color: black;
}

.left-right-border {
  border-left: 1px red solid;
  border-right: 1px red solid;
  padding: 0 20px;
}

.list-fun a:hover {
  color: black;
}

.font-size-14 p,
.font-size-14 a {
  font-size: 14px;
}

del {
  font-size: 14px;
  color: silver;
}

.smedia i {
  color: white;
}

.bck-clr header {
  top: 330px;
}

.tnw-logo {
  position: absolute;
  bottom: 300px;
}

.fund-index {
  float: left;
}


.fund-main {
  padding-top: 20px;
  clear: both;
}

.apps_gear_tech-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 70px;
}

.time-date {
  position: absolute;
  right: 40px;
  top: 20px;
}

@media only screen and (max-width: 992px) {
  .latest-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .farm {
    display: none;
  }

  .fund-main {
    margin-left: -40px;
  }

  .fund-header {
    margin-left: -10px;
  }

  .list-fun {
    clear: both;
  }

  .fund-header li {
    float: left;
  }

  .apps_gear_tech-main {
    grid-template-columns: repeat(2, 1fr);
  }

  .latest-news {
    grid-template-columns: repeat(3, 1fr);
  }

  .social {
    left: 260px;
  }
}
