* {
    margin: 0;
    padding: 0;
}

.nav-container {
    background-color: black;
    height: 30px;
}

.news a{
    color: white;
}

.nav_link,
.nav_link1 {
    color: silver;
    text-decoration: none;
    text-decoration-style: none;
    font-size: 15px;
}

.my_list {
    display: inline;
    padding: 15px;
    position: relative;
    top: 5px;
}

.my_list1 {
    display: inline;
    padding: 15px;
    position: relative;
    bottom: 13px;
    left: 70%;
}

.low-list {
    display: inline;
    margin-left: 5px;
}

#search-icon {
    width: 35px;
    height: 35px;
}

.search {
    float: right;
    border-left: solid 1px silver;
}

.low-link {
    color: silver;
    text-decoration: none;
    text-decoration-style: none;
    font-size: 16px;
    padding: 10px;
}

.nav-low {
    border-bottom: solid 1px silver;
    padding-bottom: 10px;
}

.nav-low-list {
    padding: 10px;
}

.low-list a:hover {
    color: black;
}

.my_list a:hover,
.my_list1 a:hover {
    color: white;
}

.affordable_agri {
    width: 130%;
    padding: 55px 0 0 10px ;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
    width: 45%;
}

.affordable {
    width: 65%;
    height: 75%;
    position: relative;
    left: 245px;
    top: 55px;
}

.fund-main, .apps_gear_tech-main {
    display: flex;
}

.story-investmentCard-company-image {
    width: 60px;
    height:60px;
}

.latest-img2, 
.latest-img {
    height:150px;
    width: 280px;
}

.latest-news, 
.latest {
    flex: 1;
}

.latest-news1, 
.news_main {
    display: flex;
}

.news_main {
    padding-top: 50px;
}

.reprot {
    color: black;
    font-weight: bold;
}

.reprot1 {
    color: lightslategrey;
    font-size: 15px;
} 

.latest-link {
    color: red;
}

.latest-link:hover {
    color: black;
}

.rep-link, 
.news-link, 
.latest-link {
    text-decoration: none;
}

.latest-main-content {
    padding-top: 100px;
}

