* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

.nav-container {
    background-color: black;
    height: 30px;
}

.news a{
    color: white;
}

.nav_link,
.nav_link1 {
    color: silver;
    text-decoration: none;
    text-decoration-style: none;
    font-size: 15px;
}

.my_list {
    display: inline;
    padding: 15px;
    position: relative;
    top: 5px;
}

.my_list1 {
    display: inline;
    padding: 15px;
    position: relative;
    bottom: 13px;
    left: 70%;
}

.low-list {
    display: inline;
    margin-left: 5px;
}

#search-icon {
    width: 35px;
    height: 35px;
}

.search {
    float: right;
    border-left: solid 1px silver;
}

.low-link {
    color: silver;
    text-decoration: none;
    text-decoration-style: none;
    font-size: 16px;
    padding: 10px;
}

.nav-low {
    border-bottom: solid 1px silver;
    padding-bottom: 10px;
}

.nav-low-list {
    padding: 10px;
}

.low-list a:hover {
    color: black;
}

.my_list a:hover,
.my_list1 a:hover {
    color: white;
}

.affordable_agri {
    width: 130%;
    padding: 55px 0 0 10px ;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
    width: 45%;
}

.affordable {
    width: 65%;
    height: 75%;
    position: relative;
    left: 245px;
    top: 55px;
}

.fund-main,
.apps_gear_tech-main,
.middle {
    display: flex;
}

.story-investmentCard-company-image {
    width: 60px;
    height:60px;
}

.latest-img2,
.latest-img {
    height:150px;
    width: 280px;
}

.latest-news,
.latest {
    flex: 1;
}

.latest-news1,
.news_main {
    display: flex;
}

.news_main {
    padding-top: 50px;
}

.reprot {
    color: black;
    font-weight: bold;
}

.reprot1 {
    color: lightslategrey;
    font-size: 15px;
}

.latest-link {
    color: red;
}

.latest-link:hover {
    color: black;
}

.rep-link,
.news-link,
.latest-link,
.foo-link {
    text-decoration: none;
}

.latest-main-content {
    padding-top: 100px;
}

.bottom,
.latest-news,
.latest-news2 {
    display: flex;
}

.creative,
.podium,
.insights,
.launch,
.distract {
    flex: 1;
}

.bottom,
.middle,
.apps_gear_tech-main {
    padding-top: 55px;
}

.fund-header li {
    float: right;
    margin-left: 10px;
    font-size: 19px;
    padding-top: 8px;
    padding-right: 15px;
    border-right: 1px Solid;
}

.funding {
    margin-top: 55px;
}

.fund-header {
    margin-bottom: 20px;
}

.machine-img,
.cert-img {
    width: 250px;
    height: 150px;
}

.speed,
.cloud,
.vmware,
.Machine-learning,
.certificate,
.microsoft,
.microsoft,
.vpn {
    flex: 1;
}

.latest-container {
    padding-top: 65px;
}

.see-all {
    position: relative;
    left: 1150px;
    bottom: 20px;
}

.see-link {
    text-decoration: none;
    font-size: 18px;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

.latest-head {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.footer2 {
    background-color: black;
    height: 60px;
    text-align: center;
    padding-top: 35px;
}

.footer1 {
    background-color: #181818;
    height: 120px;
}

.footer2-link {
    color: white;
}

.next-web {
    color: white;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.foo-link {
    display: inline;
    margin: 5px;
}

.smedia {
    display: flex;
}

.social {
    position:relative;
    left: 460px;
}

.links {
    text-align: center;
    position: relative;
    top: 15px;
}

.foo-link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: white;
}

.icon {
    margin: 10px;
    height: 40px;
    width: 40px;
    position: relative;
    top: 15px;
}

.red {
    color: red;
}

.reprot:hover {
    color: red;
}

.my_list1 a:hover {
    color: white;
}

.smedia li {
    background-color: gray;
    border-radius: 1px solid black;
    border-radius: 100%;
    height: 40px;
    width: 40px;
}

.affordable_agri {
    background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/11/synd7-796x417.jpg");
    height: 500px;
    background-repeat: no-repeat;
}

.affordable1 {
    background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/11/theft-malaysia-bitcoin-tunnel-dig-rill-miners-796x448.jpg");
    height: 200px;
    background-size: cover;
    position: relative;
    bottom: 420px;
}

.affordable2 {
    background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/11/Untitled-design1-796x417.png");
    background-size: cover;
    height: 208px;
    position: relative;
    bottom: 210px;
}

.main-cover {
    display: flex;
    padding-top: 60px;
    justify-content: space-between;
    justify-content: space-between;
}

.main-content1 {
    flex: 2;
}

.main-content {
    flex: 1.4;
    position: relative;
    left: 40px;
}

.cover-header {
    position: absolute;
    top: 420px;
    left: 10px;
    z-index: 0;
}

.cover-header section {
    list-style: none;
}

.cover-header p {
    display: inline;
}

.cover-title a {
    text-decoration: none;
}

.noCamels, .camels {
    padding-top: 110px;
    padding-left: 15px;
}

.white {
    color: white;
}

.bck-clr {
    background-color: rgba(0,0,0,.25);
    z-index: 2;
    opacity: 0.8;
}
